main{
  display:grid;
  grid-template-columns:50% 50% 0px;
  height:100vh;
}
.mobile {
  grid-column-start: 1;
  grid-column-end: 3;
display:none;
}

@media (max-width: 900px) {
 main{grid-template-columns:40% 60% ;}
}
@media (max-width: 800px) {
  main{grid-template-columns:30% 70% ;}
 }
 @media (max-width: 700px) {
  main{grid-template-columns:0px 100% ;}
  .mobile{display:block}
  .right{margin-left:16vw;
    width:80vw;
  margin-right: auto;
  }
}
@media(max-width:500px){
  .buy{
    width:60px;
  }
  .buyed{
    width:60px;
  }
.right{
  width:90vw;
  margin-left:10vw;
  margin-right:auto;
}

}
 .right{
  text-align: left;
}

h1{
  margin-top: 80px;
  width:fit-content;
font-family:  Helvetica, sans-serif;

}
h2 h1{
  color:inherit
}
.inherit{
text-align: center;


}
.addItem{
 
  text-align:center; min-height:20px;border:1px solid lightgrey

}
.mainItem{
  padding-top: 5px;
  display:grid;
  grid-template-columns: auto 100px;
  width:fit-content;
  margin-top:5px;
}
.mainItem button{
  margin-top: auto;
  margin-bottom: auto;
}
.buy{
  background:#31ad6c;
  margin-left: 3px;
  color:white;
  text-align: left;
}
.buyed{
  background:#1259af;
  margin-left: 3px;
  color:white;
  text-align: right;
}
.del_buyed{
  background: #1259af;
  color:white;
  margin-top:20px;
  min-height:22px;
 padding-top:3px;
 font-family: Arial, Helvetica, sans-serif;
}
.deleteAll{
  background: black;
  color:white;
  margin-top:5px;
  padding-top:3px;
  min-height:22px;
  font-family: Arial, Helvetica, sans-serif;
}

.info{
  border:1px solid lightgray;
  margin-top:5px;
  font-family: Arial, Helvetica, sans-serif;
  
}